.gray {
  color: gray;
}

.large {
  font-size: 4em;
}

.search {
  position: absolute;
  width: 300px;
  height: 200px;
  //z-index: 15;
  top: 50%;
  left: 50%;
  margin: -100px 0 0 -150px;
}

input[type=text] {
   width: 230px;
}
