<div class='search'>
  <form action='http://localhost:5000/api/db/id/' method='get'>
    <input type="text" placeholder="Search.." name="id">
    <button type="submit"> Submit</button>
  </form>
</div>
